.footer{
    width: 100%;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(255,38,0,1) 100%);;
    color: #fff;
    font-family: cursive;
    letter-spacing: 0.1rem;
    text-align: center;
    padding: 2em;
}